<div class="left-section">
	<div class="sub-header">
		<h3>Patient Home</h3>
		<div class="details">
			<div class="dashboard_image"></div>
			<div class="dashboard_info">
				<%= "#{current_user.first_name} #{current_user.last_name}" %>
				<p class="view_profile"><small><%= link_to 'View My Profile', "#" %></small></p>
			</div>
		</div>
	</div>
	<div>
		<%= render 'shared/stats' %>
	</div>
	<% if params[:action] == "show" && params[:controller] == "dashboard" %>
		<div class="create_post">
			<%= render 'posts/form' %>
		</div>
	<% end %>
	
	<div class="sub-navigation">
		<li><%= link_to 'Activity Logger', "#", class: "btn btn-default" %></li>
		<li><%= link_to 'Communities', "#", class: "btn btn-default" %></li>
	</div>
</div>