<script type="text/javascript">
	$(document).ready(function(){
		$('.comments_link').click(function(e){
			e.preventDefault();
			$(this).next('.comments_section').slideToggle("slow");
		});
	});
</script>

<% if @posts.any? %>
	<% @posts.each do |post| %>
		<div class="show_posts">
			<div class="btn-group pull-right">
				<% if post.user == current_user %>
					<%= link_to post, method: :delete do %>
						<small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>
					<% end %>
				<% end %>
			</div>
			<div class="show_post_title">
				<%= link_to post.title, post %>
			</div>
			<div class="show_post_created_at">
				<p class="text-muted"><small><%= time_ago_in_words(post.created_at) %> ago by <%= link_to "#{post.user.first_name.titleize} #{post.user.last_name.titleize}", profile_path(post.user)%></small></p>
			</div>
			<div class="show_post_description">
				<%= post.content %>
			</div>
			<div class="comments_link">
				<% if post.comments.any? %>
					<p><%= link_to "#{post.comments.count} #{ 'Comments'}", "#" %></p>
				<% end %>
			</div>
			<div class="comments_section">
				<div class="show_comments">
					<% if post.comments.any? %>
						<% post.comments.each do |comment| %>
							<div class="comment">
								<div class="comment_content">
									<%= comment.content %>
								</div>
								<div class="comment_author">
									<p class="text-muted">written by <%= "#{comment.user.first_name.titleize} #{time_ago_in_words(comment.created_at)}" %> ago</p>
								</div>
							</div>
							<div class="separator"></div>
						<% end %>
					<% end %>
				</div>
				<div class="add_comment">
					<%= form_for([post, post.comments.build]) do |f| %>
						<div class="form-group">
							<%= f.text_field :content, placeholder: "Add a Comment", class: "form-control" %>
						</div>
						<div class="form-group">
							<%= f.submit "Comment", class: "btn btn-primary" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>

		
	<% end %>
<% end %>