<% if @posts.any? %>
	<% @posts.each do |post| %>
		<div class="show_posts">
			<div class="btn-group pull-right">
				<% if post.user == current_user %>
					<%= link_to post, method: :delete do %>
						<small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>
					<% end %>
				<% end %>
			</div>
			<div class="show_post_author ">
				<%= link_to post.user.first_name, profile_path(post.user) %>
			</div>
			<div class="show_post_created_at">
				<p class="text-muted"><small><%= time_ago_in_words(post.created_at) %> ago</small></p>
			</div>
			<div class="show_post_description">
				<%= post.content %>
			</div>
		</div>
		<% if false %>
		<div class="comment_section">
			<div class="add_comment">
				<%= form_for(@comment) do |f| %>
					<div class="form-group">
						<%= f.text_field :comment, placeholder: "Add a Comment" %>
					</div>
					<div class="form-group">
						<%= f.submit "Comment", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
			<div class="show_comments">
				<% @comments.each do |comment| %>
					<div class="comment_content">
						<%= comment %>
					</div>
					<div class="comment_author">
						<small>written by<%= comment.user.first_name %><%= time_ago_in_words(comment) %></small>
					</div>
				<% end %>
			</div>
		</div>
		<% end %>
	<% end %>
<% end %>