<div class="dashboard_posts">
	
	<% if @posts.any? %>
		<% @posts.each do |post| %>
			<div class="circle">
				
			</div>
			<div class="show_posts">
				<span class="glyphicon glyphicon-triangle-right"></span>
				<% if false %>
				<div class="btn-group pull-right">
					<% if post.user == current_user %>
						<%= link_to post, method: :delete do %>
							<small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>
						<% end %>
					<% end %>
				</div>
				<% end %>
				<div class="show_post_title">
					<%= link_to post.title, post, class: "post_title" %>
				</div>
				<div class="show_post_created_at">
					<p class="text-muted"><%= post.created_at.strftime("%d %B, %Y") %>
						<span class="glyphicon glyphicon-user"></span>
						<%= link_to "#{post.user.first_name.titleize} #{post.user.last_name.titleize}", profile_path(post.user)%>
						<span class="glyphicon glyphicon-comment"></span>
						<%= post.comments.count %> Comments
						</p>
				</div>
				<div class="show_post_description">
					<%= truncate(post.content, length: 200) { link_to "read more", post} %>
				</div>
				<% if false %>
				<%= link_to "View Post", post, class: "btn btn-primary" %>
				<span class="glyphicon glyphicon-chevron-right"></span>
				<% end %>
			</div>
			
			
		<% end %>
	<% end %>
</div>