<script type="text/javascript">
	$("document").ready(function(){
		<% if params[:action] == "about_me" && params[:controller] == "profiles" %>
			$("#first").addClass("come_black");
		<% end %>
		<% if params[:action] == "all_posts" && params[:controller] == "profiles" %>
			$("#second").addClass("come_black");
		<% end %>
		<% if params[:action] == "edu_details" && params[:controller] == "profiles" %>
			$("#third").addClass("come_black");
		<% end %>
		<% if params[:action] == "emp_details" && params[:controller] == "profiles" %>
			$("#fourth").addClass("come_black");
		<% end %>
		<% if params[:action] == "show_comms" && params[:controller] == "profiles" %>
			$("#fifth").addClass("come_black");
		<% end %>
	});
</script>

<div class="left-section">
	<div class="sub-header">
		<div class="details">
			<div class="dashboard_image">
				<div class="image_tag">
				<% if @user.avatar_file_name %>
					
						<%= image_tag @user.avatar.url(:thumb), class: "user_avatar" %>
					
				<% else %>
					<% if @user.gender == "Male" %>
						<p><%= image_tag 'men_thumb' , class: "user_avatar" %></p>
					<% elsif @user.gender == "Female" %>
						<p><%= image_tag 'women_thumb', class: "user_avatar" %></p>
					<% else %>
						<p>Enter a profile pic..</p>
					<% end %>
				<% end %>
				</div>
			</div>
			<div class="dashboard_info">
				<p id="show_name"><%= "#{@user.first_name.titleize} #{@user.last_name.titleize}" %></p>
			</div>
		</div>
	</div>
	<div class="stats">
		<%= render 'profiles/stats' %>
	</div>

	<div class="sub-navigation">
	
		<% if (params[:action] == "show" || params[:action] == "about_me" || params[:action] == "all_posts" || params[:action] == "edu_details" || params[:action] == "emp_details" || params[:action] == "show_comms" || params[:action] == 'following' || params[:action] == 'followers') && params[:controller] == "profiles" %>
			
			<ul class="nav nav-pills nav-stacked">
				<li id="first"><%= link_to 'About Me', profile_path(@user), class: "btn btn-default" %></li>
				<li id="second"><%= link_to 'Posts', all_posts_path(@user), class: "btn btn-default" %></li>
				<li id="third"><%= link_to 'Educational', edu_details_path(@user), class: "btn btn-default" %></li>
				<li id="fourth"><%= link_to 'Employment', emp_details_path(@user), class: "btn btn-default" %></li>
				<li id="fifth"><%= link_to 'Communities', prof_comms_path(@user), class: "btn btn-default" %></li>
			</ul>
		<% end %>
	</div>
</div>