<script type="text/javascript">
	$("document").ready(function(){
		$("#add_form").hide();
		$("#add_button").click(function(){
			$(this).hide();
			$("#add_form").show();
			$("p").hide();
			$(".detailed").hide();
		});
		$("#cancel").click(function(){
			$("#add_button").show();
			$("#add_form").hide();
			$("p").show();
			$(".detailed").show();
		});
	});
</script>

<div class="profile">
	<%= render 'profiles/left_section' %>
	<div class="right-section">
		<div id="emp_detail">
			<div class="all_sections">
				<h1>EMPLOYMENT DETAIL
				<span class="glyphicon glyphicon-briefcase"></span>
				</h1>
				<div class="details_section">
					<%# @user.work_status %>
					<%= link_to "Add a Job", "#", class: "btn btn-primary add", id: "add_button" %>
					<% if @user.employment_details.exists? %>
						<% @user.employment_details.each do |emp_detail| %>
							<div class="detailed">
								<h3><%= emp_detail.organisation %></h3>
								<strong><%= emp_detail.position_held %></strong>
								<small><p class="text-mute"><%= emp_detail.location %></p></small>
								<%= emp_detail.description %><br>
							</div>
						<% end %>
					<% else %>
							<% if @user == current_user %>
								<p class="text-muted no_record">You have no employment records..</p>
							<% else %>
								<%= @user.first_name %> has no employment records..
							<% end %>
					<% end %>
					<% if @user == current_user %>
						<div id="add_form">
							<%= form_for(:employment_details, :url => {:controller => :edu_emp_details, :action => :create_emp}) do |f| %>
								<div class="form-group">
									<%= f.label "Organisation" %>
									<%= f.text_field :organisation, class: "form-control" %>
								</div>
								<div class="form-group">
									<%= f.label "Position Held" %>
									<%= f.text_field :position_held, class: "form-control" %>
								</div>
								<div class="form-group">
									<%= f.label "Location" %>
									<%= f.text_field :location, class: "form-control" %>
								</div>
								<div class="form-group">
									<%= f.label "Description" %>
									<%= f.text_area :description, class: "form-control" %>
								</div>
								<div class="form-group">
									<%= f.submit "Save", class: "btn btn-primary" %>
								</div>
							<% end %>
							<button id="cancel" class="btn btn-primary">Cancel</button>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>