<div class="signup_steps">
  <%= form_for(:profile, :url => {:controller => :profiles, :action => :save_attributes}, html: { multipart: true }) do |f| %>
    <%= devise_error_messages! %>

    <h2>Personal Details</h2>

    <div class="form-group" id="user_first_name">
       <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %>
    </div>

    <div class="form-group" id="user_last_name">
       <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
    </div>

    <div class="form-group" id="user_avatar">
       <%= f.file_field :avatar, as: :file %>
    </div>

    <div class="form-group" id="user_gender">
       <%= f.select(:gender, ['Male', 'Female'], { :include_blank => "Gender" }, { :class => "form-control" }) %>
    </div>

    <%# if false %>
    <div class="form-group" id="user_date_of_birth">
       <%= f.date_field :dob, class: "form-control", placeholder: "Last Name" %>
    </div>
    <%# end %>

    <div class="form-group" id="user_bio">
       <%= f.text_area :bio, class: "form-control", placeholder: "Bio" %>
    </div>    
    
    <div class="form-group">
       <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>