<div class="profile">
	<%= render 'profiles/left_section' %>
	<div class="right-section">
		<%= render 'profiles/about_me' %>
		<%= render 'profiles/all_posts' %>
		<%= render 'profiles/edu_details' %>
		<%= render 'profiles/emp_details' %>
		<%= render 'profiles/show_comms' %>
	</div>
</div>