<% if(@comm) %>
	<div class="left-section">
		<div class="sub-header">
			<h3><%= @comm.c_name.titleize %></h3>
		</div>
		<div class="sub-navigation">
			<%= puts @comm.id %>
			<li><%= render 'shared/join_form' if signed_in? %></li>
			<li><%= link_to "About the Community", about_comm_path, class: "btn btn-default" %></li>
			<li><%= link_to "Discussion Board", disc_board_path, class: "btn btn-default" %></li>
			<li><%= link_to 'Start a Discussion', comm_path, class: "btn btn-default" %></li>
			<li><%= link_to "Members (#{@comm.members.count})", members_path, class: "btn btn-default" %></li>
		</div>
	</div>
<%# else %>

<%# @user ||= current_user %>




<% end %>