<footer class="footer">
    <div class="container">
        <div class="bottom-footer">
            <div class="col-lg-3">
                <h5>Ayush</h5>
                <ul>
                    <li><%= link_to 'Home', "#" %></li>
                    <li><%= link_to 'Coverage', "#" %></li>
                    <li><%= link_to 'Pricing', "#" %></li>
                    <li><%= link_to 'Buy', "#" %></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5>About</h5>
                <ul>
                    <li><%= link_to 'About Us', "#" %></li>
                    <li><%= link_to 'Blog', "#" %></li>
                    <li><%= link_to 'Privacy Policy', "#" %></li>
                    <li><%= link_to 'Terms of Service', "#" %></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5>Help</h5>
                <ul>
                    <li><%= link_to 'Help Center', "#" %></li>
                    <li><%= link_to 'Get Started', "#" %></li>
                    <li><%= link_to 'Contact Us', "#" %></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5>Connect</h5>
                <ul>
                    <li><%= link_to 'Facebook', "#", class: "social social-facebook" %></li>
                    <li><%= link_to 'Twitter', "#", class: "social social-twitter" %></li>
                    <li><%= link_to 'Google', "#", class: "social social-google" %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>