<script type="text/javascript">
  $(document).ready(function(){
    $('#form-running').hide();
    $('#form-exercise').hide();
    $('#walking_btn').addClass("active");
    $('#walking_btn').click(function(){
      $('#form-walking').show();
      $('#walking_btn').addClass("active");
      $('#form-running').hide();
      $('#running_btn').removeClass("active");
      $('#form-exercise').hide();
      $('#exercise_btn').removeClass("active");
    });
    $('#running_btn').click(function(){
      $('#form-running').show();
      $('#running_btn').addClass("active");
      $('#form-walking').hide();
      $('#walking_btn').removeClass("active");
      $('#form-exercise').hide();
      $('#exercise_btn').removeClass("active");
    });
    $('#exercise_btn').click(function(){
      $('#form-exercise').show();
      $('#exercise_btn').addClass("active");
      $('#form-running').hide();
      $('#running_btn').removeClass("active");
      $('#form-walking').hide();
      $('#walking_btn').removeClass("active");
    });



    $("#hours").on('change', function(){
      var x = $("#hours").value;
      $("#hidden_quantity").value(x);
    });
  });
</script>

<div class="modal fade" id="myModal-10" tabindex="-1" role="dialog" 
      aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
        </button>
        <ul class="nav nav-tabs">
        	<li id="walking_btn"><%= link_to "Walking", "#form-walking" %></li>
        	<li id="running_btn"><%= link_to "Running", "#form-running" %></li>
        	<li id="exercise_btn"><%= link_to "Exercise", "#form-exercise" %></li>
        </ul>
      </div>
      <div class="modal-body">
      	<div id="form-walking">
          <%= form_for(current_user.activity_loggers.new) do |f| %>

            <div class="form-group">
              <%= f.date_field :activity_date, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.hidden_field :activity_type, value: "walking" %>
            </div>

            <div class="form-group">
              <%= f.number_field :quantities, class: "form-control", placeholder: "00" %> <%= "kms" %>
            </div>

            <div class="form-group">
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
          <% end %>
      	</div>
      
        <div id="form-running">
          <%= form_for(current_user.activity_loggers.new) do |f| %>

            <div class="form-group">
              <%= f.date_field :activity_date, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.hidden_field :activity_type, value: "running" %>
            </div>

            <div class="form-group">
              <%= f.number_field :quantities, class: "form-control", placeholder: "00" %>
            </div>

            <div class="form-group">
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
    
        <div id="form-exercise">
          <%= form_for(current_user.activity_loggers.new) do |f| %>

            <div class="form-group">
              <%= f.date_field :activity_date, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.hidden_field :activity_type, value: "exercise" %>
            </div>

            <div class="form-group">
              <input type="number" class="form-control" placeholder="00" id="hours">hours
            </div>
            
            <div class="form-group">
              <input type="number" class="form-control" placeholder="00" id="min">min
            </div>

            <div class="form-group">
              <%= f.hidden_field :quantities, value: "", id: "hidden_quantity" %>
            </div>
            

            <div class="form-group">
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

