<script type="text/javascript">
  $("document").ready(function(){
    $("#choose_physical_activity").click(function(){
      var x = $(this).val() 

      if (x == 1) {
        $("#walking-form").show();
        $("#running-form").hide();
        $("#exercise-form").hide();
      }
      else if (x == 2) {
        $("#walking-form").hide();
        $("#running-form").show();
        $("#exercise-form").hide();
      }
      else if (x == 3) {
        $("#walking-form").hide();
        $("#running-form").hide();
        $("#exercise-form").show();
      }
    });
    $(".select-option").on('mouseup',function(){
      $(this).addClass("select-option-highlight");
    });
  });
</script>

<div class="physical_act">

  <%= form_for(current_user.activity_loggers.new) do |f| %>
    <select class="control-forms" id="choose_physical_activity">
      <option class="select-option" value="1">Walking</option>
      <option class="select-option" value="2">Running</option>
      <option class="select-option" value="3">Exercise</option>
    </select>

    <div id="walking-form">
        <div class="form-group">
          <%= f.label :activity_type, "Walking" %>
        </div>

        <div class="form-group">
          <%= f.date_field :activity_date, class: "control-forms" %>
        </div>

        <div class="form-group">
          <%= f.number_field :quantities, class: "control-forms", placeholder: "00" %> <%= "kms" %>
        </div>
        
      
        <div class="form-group">
          <%= f.hidden_field :activity_type, value: "walking" %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary form-control" %>
        </div>
    </div>
  

      

      <div id="running-form">
        <div class="form-group">
          <%= f.label :activity_type, "Running" %>
        </div>


        <div class="form-group">
          <%= f.date_field :activity_date, class: "control-forms" %>
        </div>
        <div class="form-group">
          <%= f.number_field :quantities, class: "control-forms", placeholder: "00" %> <%= "kms" %>
        </div>
      
        <div class="form-group">
          <%= f.hidden_field :activity_type, value: "running" %>
        </div>
      
        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary form-control" %>
        </div>
      </div>

      
      
<div id="exercise-form">
        <div class="form-group">
          <%= f.label :activity_type, "Exercise Form" %>
        </div>

        <div class="form-group">
          <%= f.date_field :activity_date, class: "control-forms" %>
        </div>

        <div class="form-group">
          <%= f.number_field :hours, class: "control-forms", placeholder: "00" %> <%= "hrs" %>
        </div>

        <div class="form-group">
          <%= f.number_field :min, class: "control-forms", placeholder: "00" %> <%= "min" %>
        </div>

        <div class="form-group">
          <%= f.hidden_field :activity_type, value: "exercise" %>
        </div>

        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary form-control" %>
        </div>
</div>
    <% end %>
</div>