<script type="text/javascript">
  $("document").ready(function(){
    $("#choose_other_activity").click(function(){
      var x = $(this).val() 

      if (x == 1) {
        $("#alchohol").show();
        $("#cigarettes").hide();
        $("#water").hide();
        $("#sleep").hide();
        $("day_active").hide();
      }
      else if (x == 2) {
        $("#alchohol").hide();
        $("#cigarettes").show();
        $("#water").hide();
        $("#sleep").hide();
        $("day_active").hide();
      }
      else if (x == 3) {
        $("#alchohol").hide();
        $("#cigarettes").hide();
        $("#water").show();
        $("#sleep").hide();
        $("day_active").hide();
      }
      else if (x == 4) {
        $("#alchohol").hide();
        $("#cigarettes").hide();
        $("#water").hide();
        $("#sleep").show();
        $("day_active").hide();
      }
      else if (x == 5) {
        $("#alchohol").hide();
        $("#cigarettes").hide();
        $("#water").hide();
        $("#sleep").hide();
        $("day_active").show();
      }
    });
  });
</script>

<div class="other_activities_act">
  
<%= form_for(current_user.activity_loggers.new) do |f| %>
<select class="control-forms" id="choose_other_activity">
      <option value="1">Alchohol</option>
      <option value="2">Cigarettes</option>
      <option value="3">Water</option>
      <option value="4">Sleep</option>
      <option value="5">Day active</option>
    </select>
<div id="alchohol">
  <div class="form-group">
    <%= f.label :activity_type, "Amount of Alchohol in ml" %>
  </div>

  <div class="form-group">
    <%= f.number_field :quantities, class: "control-forms", placeholder: "00" %>
  </div>

  <div class="form-group">
    <%= f.date_field :activity_date, class: "control-forms" %>
  </div>
          
  <div class="form-group">
    <%= f.hidden_field :activity_type, value: "Alchohol Intake" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary form-control" %>
  </div>
</div>
  
<div id="cigarettes">
  <div class="form-group">
    <%= f.label :activity_type, "Number of Cigarettes" %>
  </div>

  <div class="form-group">
    <%= f.number_field :quantities, class: "control-forms", placeholder: "00" %>
  </div>

  <div class="form-group">
    <%= f.date_field :activity_date, class: "control-forms" %>
  </div>
          
  <div class="form-group">
    <%= f.hidden_field :activity_type, value: "Cigarettes Intake" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary form-control" %>
  </div>
</div>
  
<div id="water">
  <div class="form-group">
    <%= f.label :activity_type, "Amount of Water in ml" %>
  </div>

  <div class="form-group">
    <%= f.number_field :quantities, class: "control-forms", placeholder: "00" %>
  </div>

  <div class="form-group">
    <%= f.date_field :activity_date, class: "control-forms" %>
  </div>
          
  <div class="form-group">
    <%= f.hidden_field :activity_type, value: "Water Intake" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary form-control" %>
  </div>
</div>
  

<div id="sleep">
  <div class="form-group">
    <%= f.label :activity_type, "Sleeping Time(in min)" %>
  </div>

  <div class="form-group">
    <%= f.number_field :min, class: "control-forms", placeholder: "00" %>
  </div>

  <div class="form-group">
    <%= f.date_field :activity_date, class: "control-forms" %>
  </div>
          
  <div class="form-group">
    <%= f.hidden_field :activity_type, value: "Sleep Time" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary form-control" %>
  </div>
</div>
  

<div id="day_active">
  <div class="form-group">
    <%= f.label :activity_type, "How active was your day" %>
  </div>

  <div class="form-group">
    <%= f.number_field :quantities, class: "control-forms" %>
  </div>

  <div class="form-group">
    <%= f.date_field :activity_date, class: "control-forms" %>
  </div>
          
  <div class="form-group">
    <%= f.hidden_field :activity_type, value: "Day Active" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary form-control" %>
  </div>
</div>
  

<% end %>

</div>