<script type="text/javascript">
	$("document").ready(function(){
		$("body").css("background-color", "#FFF");
		$("#activity_dp").css("background-color", "rgb(255, 114, 44)");
		$("#first").addClass("activated_tab");
		$(".header").css("background-color", "rgb(255, 114, 44)");
		$("#activity_logger_header").css("color", "#FF8A50");

		$("#first").click(function(){
			$(".physical_act").show();
			$(this).addClass("activated_tab");
			$("#second").removeClass("activated_tab");
			$("#third").removeClass("activated_tab");
			$(".food_act").hide();
			$("#activity_dp").css("background-color", "rgb(255, 114, 44)");
			$(".other_activities_act").hide();
			$(".header").css("background-color", "rgb(255, 138, 80)");
			$("#activity_logger_header").css("color", "#FF8A50");
		});
		$("#second").click(function(){
			$(".physical_act").hide();
			
			$(this).addClass("activated_tab");
			$("#first").removeClass("activated_tab");
			$("#third").removeClass("activated_tab");
			$("#activity_dp").css("background-color", "rgb(23, 198, 199)");
			$(".food_act").show();
			$(".other_activities_act").hide();
    		$(".header").css("background-color", "rgb(23, 198, 199)");
			$("#activity_logger_header").css("color", "#17C6C7");
		});
		$("#third").click(function(){
			$(".physical_act").hide();
			$("#first").removeClass("activated_tab");
			$("#second").removeClass("activated_tab");
			$(this).addClass("activated_tab");
			$("#activity_dp").css("background-color", "#47C172");
			$(".food_act").hide();
			$(".other_activities_act").show();
    		$(".header").css("background-color", "#47C172");
			$("#activity_logger_header").css("color", "#47C172");
		});
	});
</script>


<% if current_user.sign_in_count == 1 %>
	<%= render 'activity_participations/activity_setup' %>
<% end %>
<h1 id="activity_logger_header">Log your activities</h1>
<%= render 'left_links' %>

<%= render 'new_physical' %>
<%= render 'new_food' %>
<%= render 'other_activities' %>