<script type="text/javascript">
	$(document).ready(function(){
		$('.comments_link').click(function(e){
			e.preventDefault();
			$(this).next('.comments_section').fadeToggle();
			$('.comment_body').focus();
		});
	});
</script>
<div class="dashboard">
	<div class="right-section">
		<div class="show_posts">
			<div class="btn-group pull-right">
				<% if @post.user == current_user %>
					<%= link_to @post, method: :delete do %>
						<small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>
					<% end %>
				<% end %>
			</div>
			<div class="show_post_title">
				<h4><%= @post.title %></h4>
			</div>
			<div class="show_post_created_at">
				<p class="text-muted"><small><%= time_ago_in_words(@post.created_at) %> ago by <%= link_to "#{@post.user.first_name.titleize} #{@post.user.last_name.titleize}", profile_path(@post.user)%></small></p>
			</div>
			<div class="show_post_description">
				<%= @post.content %>
			</div>
			<div class="like_post">
				<%= link_to like_post_path(@post), method: :put, class: "btn btn-default" do %>
					<span class="glyphicon glyphicon-heart" aria-hidden="true">
						<%= @post.get_upvotes.size %>
					</span>
				<% end %>
			</div>
			<div class="comments_link">
				<p><%= link_to "#{@comments.count} #{ 'Comments'}", "#" %></p>
			</div>
			<div class="comments_section">
				<ol id="show_comments">
					<%= render @comments %>
				</ol>
				<div class="add_comment">
					<%= form_for [@post, @post.comments.build], remote: true do |f| %>
						<div class="form-group">
							<%= f.text_field :content, placeholder: "Add a Comment", class: "form-control comment_body" %>
						</div>
						<div class="form-group">
							<%= f.submit "Comment", class: "btn btn-primary" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>