<script type="text/javascript">
	$(document).ready(function(){
		$('.comments_link').click(function(e){
			e.preventDefault();
			$('.comments_section').slideToggle("slow");
			$('#view_link').toggleClass("active");
			if ($('#view_link').hasClass('active')) {
				$('#view_link').text('Hide all Comments...')
			}
			else {
				$('#view_link').text('View all Comments...')
			}
			//$('.comment_body').focus();
		});
		<% if current_user.voted_up_on? @post %>
			$('#upvote').css("background-color", "rgba(7, 104, 173, 0.62)");
			$('#upvote').text("Upvoted");
		<% elsif current_user.voted_down_on? @post %>
			$('#downvote').css("background-color", "rgba(173, 45, 45, 0.72)");
			$('#downvote').text("Downvoted");
		<% end %>
	});
</script>
<div class="dashboard">
	<div class="right-section">
		<div class="show_posts">
			<div class="btn-group pull-right">
				<% if @post.user == current_user %>
					<%= link_to @post, method: :delete do %>
						<small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>
					<% end %>
				<% end %>
			</div>
			<div class="show_post_title">
				<h4><%= @post.title %></h4>
			</div>
			<div class="show_post_created_at">
				<p class="text-muted"><%= time_ago_in_words(@post.created_at) %> ago by <%= link_to "#{@post.user.first_name.titleize} #{@post.user.last_name.titleize}", profile_path(@post.user)%></p>
			</div>
			<div class="show_post_description">
				<%= @post.content %>
			</div>
			<div class="like_post">
				<%# if current_user.voted_up_on? @post %>
				<%# elsif current_user.voted_down_on? @post %>
					<%= link_to "Upvote", like_post_path(@post), method: :put, class: "btn btn-default", id: "upvote" %>
					<%= link_to "Downvote", unlike_post_path(@post), method: :put, class: "btn btn-default", id: "downvote" %>
				<%# end %>
			</div>
			<div class="comments_link">
				<p><%= link_to "View all Comments...", "#", id: "view_link" %></p>
			</div>
			<div class="comments_section">
				<div id="show_comments">
					<%= render @comments %>
				</div>
				<div class="add_comment">
					<%= form_for [@post, @post.comments.build], remote: true do |f| %>
						<div class="form-group">
							<%= f.text_field :content, placeholder: "Add a Comment", class: "form-control comment_body" %>
						</div>
						<div class="form-group">
							<%= f.submit "Comment", class: "btn btn-primary" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>