<% if @discs.any? %>
	<% @discs.each do |disc| %>
		<div class="show_discs">
			<div class="show_disc_content">
				<%= disc.content %>
			</div>
			<div class="show_disc_created_at">
				<p class="text-muted"><%= time_ago_in_words(disc.created_at) %> ago by <%= link_to "#{disc.user.first_name.titleize} #{disc.user.last_name}", profile_path(disc.user) %></p>
			</div>
			<%= link_to "View Discussion", disc, class: "btn btn-primary" %>
		</div>
	<% end %>
<% else %>
	<div class="no_discs">
		<p>No discussions to show.. <%= link_to "Start a Discussion", comm_path %></p>
	</div>
<% end %>